
@font-face {
  font-family: 'Supernettcn-Regular';
  src: url('Supernettcn-Regular.eot?#iefix') format('embedded-opentype'),  url('Supernettcn-Regular.otf')  format('opentype'),
	     url('Supernettcn-Regular.woff') format('woff'), url('Supernettcn-Regular.ttf')  format('truetype'), url('Supernettcn-Regular.svg#Supernettcn-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
